.homeContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 20;
}

.backgroundSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 4%;
  padding-bottom: 20%;
}

.backgroundSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1;
}


.backgroundSlide.active {
  opacity: 1;
}

.headerDiv {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  padding: 0rem;
}

.UMiSFContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px); 
}

.UMiSFContainer h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.UMiSFContainer p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
h1{
  font-weight: bold;
  color: blue;
}
p{
  font-weight: bolder;
}
