.homeContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.backgroundSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1;
}

.backgroundSlide.active {
  opacity: 1;
}

.headerDiv {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  padding: 2rem;
}

.UMiSFContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust based on your HeaderPage height */
}

.UMiSFContainer h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.UMiSFContainer p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}