.headerDiv1 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(9, 132, 227, 0.2)),
    url(../../assests/images/about-container.jpg);
  color: white;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.about-container {
  width: 100%;
  color: #fff;
  padding: 18vw 0;
  text-align: center;
}

.about-container h1 {
  color: #F205CB;
  font-size: 4vw;
  font-weight: bold;
  font-family: "Roboto";
}


/* vission misssiion */
.objectives {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.objectives p {
  color: #060509;
  font-size: 0.9vw;
  font-weight: 600;
  padding: 10px;
}
.history-row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.objectives-col {
  flex-basis: 31%;
  border: 1px solid #eb9bce;
  background: #f1f4f6;
  text-align: justify;
  margin-bottom: 5%;
  padding: 1vw;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
}
.objectives-col p, .objectives-col li {
  color: #2c3237;
  font-size: 0.9vw;
  font-weight: 400;
}
.objectives h3 {
  text-align: center;
  font-family: "Hind";
  color: #262b2f;
  font-weight: 600;
  margin: 10px 0;
}
.objectives-col:hover {
  /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
  box-shadow: 4px 4px 8px 4px rgba(22, 29, 30, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* facilities */
.past-section h1, .past-section h1 p{
  font-size: 4vw;
  color: white;
  font-family: "Hind";
  margin: 0;
}

.past-section p {
  color: white;
  font-size: 1vw;
  font-family: "Hind";
  margin: 0;
}

.past-section {
  text-align: center;
  padding: 3vw 8vw;
  text-align: center;
  background-color: #303233;
}
.past-section-col {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  flex-basis: 22%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.past-section-img {
  width: 100%;
}

.past-section-col p {
  padding: 0;
}
.past-section-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
  font-size: 2.3vw;
  transition: 0.5s;
  cursor: pointer;
}

/* testmonials */

.testimonials {
  width: 100%;
  text-align: center;
  background-color: #F1F4F6;
  padding: 30px 5vw;
}

.testimonials h1 {
  color: #F205CB;
  font-size: 3vw;
  font-family: "Hind";
}

.testimonials p {
  font-size: 1vw;
  font-family: "Hind";
}

.row {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}
.testimanial-col {
  display: flex;
  flex-direction: row;
  text-align: justify;
  margin-bottom: 2%;
  flex-basis: 61%;
  margin-right: 1vw;
  padding: 2vw;
  border: 1px solid #f7baf2;
  background-color: white;
}

.testimanial-col img:hover {
  transform: scale(1.4);
}

.testimanial-col img {
  flex-basis: 30%;
  width: 120px;
  height: 10vw;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
  transition: ease-in-out 1s;
}

.testimanial-col-content{
  flex-basis: 80%;
}

.testimanial-col p {
  padding: 0;
  color: rgb(45, 44, 44)
}
.testimanial-col h3 {
  margin-top: 15px;
  text-align: left;
  font-family: "Hind";
  font-size: 1vw;
  color: #F205CB;
}
.testimanial-col h6 {
  /* margin-top: 15px; */
  text-align: left;
  font-size: 1vw;
  color: #F205CB;
}

@media (max-width: 920px) {
  .about-container h1 {
    font-size: 5vw;
  }

  .objectives p {
    font-size: 1.1vw;
  }

  .objectives-col p,.objectives-col li  {
    font-size: 1.1vw;
  }

  .past-section h1 {
    font-size: 5vw;
  }

  .past-section h1 p{
    font-size: 5vw;
  }

  .past-section p {
    font-size: 1.3vw;
  }

  .testimonials h1 {
    font-size: 4vw;
  }

  .testimonials p {
    font-size: 1.2vw;
  }
}

@media (max-width: 720px) {
  .about-container h1 {
    font-size: 6vw;
  }

  .objectives p {
    font-size: 1.3vw;
  }

  .objectives-col p,.objectives-col li  {
    font-size: 1.3vw;
  }

  .past-section h1 {
    font-size: 6vw;
  }

  .past-section h1 p{
    font-size: 6vw;
  }

  .past-section p {
    font-size: 1.4vw;
  }

  .testimonials h1 {
    font-size: 5vw;
  }

  .testimonials p {
    font-size: 1.4vw;
  }

  .testimanial-col{
    display: block;
    text-align: center;
  }

  .testimanial-col img {
    height: 15vw;
  }

  .testimanial-col p, .testimanial-col h3, .testimanial-col h6 {
    text-align: center;
    font-size: 1.7vw;
  }
}

@media (max-width: 620px) {
  .about-container h1 {
    font-size: 7vw;
  }

  .objectives p {
    font-size: 1.5vw;
  }

  .objectives-col p,.objectives-col li  {
    font-size: 1.7vw;
  }

  .past-section h1 {
    font-size: 7vw;
  }

  .past-section h1 p{
    font-size: 7vw;
  }

  .past-section p {
    font-size: 1.6vw;
  }

  .testimonials h1 {
    font-size: 6vw;
  }

  .testimonials p {
    font-size: 1.6vw;
  }
  .testimanial-col h3, .testimanial-col h6 {
    font-size: 1.8vw;
  }
  .testimanial-col img {
    height: 18vw;
  }

  .history-row{
    display: block;
  }
}

@media (max-width: 520px) {
  .about-container h1 {
    font-size: 8vw;
  }

  .objectives p {
    font-size: 1.8vw;
  }

  .objectives-col p,.objectives-col li  {
    font-size: 1.8vw;
  }

  .past-section h1 {
    font-size: 8vw;
  }

  .past-section h1 p{
    font-size: 8vw;
  }

  .past-section p {
    font-size: 2vw;
  }

  .testimonials h1 {
    font-size: 7vw;
  }

  .testimonials p {
    font-size: 2.2vw;
  }
  .testimanial-col{
    display: block;
    text-align: center;
  }

  .past-section-col{
    padding: 0 5vw;
  }

  .testimanial-col img {
    height: 22vw;
  }

  .row {
    flex-direction: column;
  }
  .past-section h3{
    font-size: 3vw;
  }
  .testimanial-col h3, .testimanial-col h6 {
    font-size: 2vw;
  }
}

@media (max-width: 420px) {
  .about-container h1 {
    font-size: 9vw;
  }

  .objectives p {
    font-size: 2vw;
  }

  .objectives-col p,.objectives-col li  {
    font-size: 2vw;
  }

  .past-section h1 {
    font-size: 9vw;
  }

  .past-section h1 p{
    font-size: 9vw;
  }

  .past-section p {
    font-size: 3vw;
  }

  .past-section h3{
    font-size: 4vw;
  }

  .testimonials h1 {
    font-size: 8vw;
  }

  .testimonials p {
    font-size: 2.6vw;
  }

  .past-section-col{
    padding: 0 5vw;
  }

  .row {
    flex-direction: column;
  }

  .testimanial-col img {
    height: 27vw;
  }

  .testimanial-col h3, .testimanial-col h6 {
    font-size: 2.5vw;
  }
}
@media (max-width: 390px) {
  .testimanial-col img {
    height: 31vw;
  }
}

@media (max-width: 376px) {
  .testimanial-col img {
    height: 30vw;
  }
}

@media (max-width: 320px) {
  .testimanial-col img {
    height: 35vw;
  }
}